body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  overflow: hidden;
  color: #fff;
}

.container {
  text-align: center;
  padding: 10px; /* Reduced padding */
  background: rgba(0, 0, 100, 1);
  border-radius: 10px; /* Reduced border-radius */
  box-shadow: 0px 5px 10px rgba(0, 0, 150, 0.3); /* Reduced shadow */
  max-width: 70%; /* Further reduced width */
  margin: 0 auto;
}

h1 {
  font-size: 1.5em; /* Further reduced size */
  margin: 0;
  color: #90caf9; /* Light blue color */
  font-weight: bold;
  letter-spacing: 1px; /* Reduced letter-spacing */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Reduced text shadow */
  animation: glow 1s ease-in-out infinite alternate;
}

p {
  font-size: 1em; /* Further reduced size */
  margin-top: 5px; /* Reduced margin */
  color: #90caf9; /* Light blue color */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Reduced text shadow */
  font-weight: 600;
}

.images {
  display: flex;
  justify-content: center; /* Center align images */
  align-items: center;
  margin-top: 10px; /* Reduced margin */
  flex-wrap: wrap; /* Wrap images if necessary */
}

.side-image,
.center-image {
  max-width: 120px; /* Reduced max-width for images */
  height: auto;
  margin: 3px; /* Reduced margin */
}

.center-image {
  max-width: 50px; /* Reduced max-width for the center image */
}

/* Keyframes for glow effect */
@keyframes glow {
  from {
    text-shadow: 0 0 8px #90caf9, 0 0 16px #90caf9, 0 0 24px #90caf9;
  }
  to {
    text-shadow: 0 0 16px #000000, 0 0 24px #000000, 0 0 32px #000000;
  }
}
